.gridContainer {
    width: 100%;
    height: 100vh;

    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 1fr;

    grid-template-areas: 
    "header header"
    "main aside";
}

.gridItem {
    border: 1px solid;
}

.main {
    grid-area: header;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
}

.video {
    background-color: grey;
    width: 60%;
    height: 60%
}